/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */

h1{
    padding:0 1rem 1rem 1rem;
    margin: 1rem 0 0 0; 
    background: purple;
    color: lightblue;
}

/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */

h2{
    padding: 5rem 0;
    border-top: green;
    border-bottom: green; 
    background: orange; 
}

/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
section{
    border: blue solid 1rem;
    height: 300px; 
    margin-top: 400px; 
}
			
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */

span{
    border: 0.5rem solid yellow;
    padding: 2rem;
    margin: 2rem; 
}