.box {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
    border: solid 1px green; 
  }

  section{
      border: solid 1px red;
  }

  .box2 {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
    border: solid 1px green; 

  }

  .after-box {
    clear: left;
  }
