
*{box-sizing: border-box;}

.container{
    /* max-width: 600px; */
    margin: 0 auto; 
    border: green solid 1px; 
  }



  nav {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    border: red 1px solid;
  }
  .column {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }