

/* Box Model Hack */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


/******************************************
/* UTILITIES
/*******************************************/

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%
}

body{
     box-sizing: border-box;
     line-height: 1;
}


/******************************************
/* LAYOUT
/*******************************************/


header{
     height: 5rem;
     background: black; 
     color: white; 
     display: block; 
     font-size: 1.2rem;
}

nav * {
     float: left; 
     width: 10%;
}





nav ul {
     width: 60%;
}

nav form input {
     width: 100%;
}


main {
     font-size: 2rem;
}




main > section {
     float: left; 
     width: 50%;
     height: 30rem; 
     vertical-align:bottom; 
     background-image: url(kitty.jpg);
     background-repeat: no-repeat;
     background-position: center; 
     background-size: cover; 
}

main > section section  {
     
     
     vertical-align:bottom; 
  
}


main section + aside > section {
     float: left;
     width: 25%;
     background-color: red;
     background-image: url(small-kitty.jpeg);
     background-repeat: no-repeat;
     background-position: center; 
     background-size: cover; 
     height: 15rem; 

}




main + section section > section {
     float: left;
     width: 33.3333%;
     height: 400px; 
}



/******************************************
/* MAIN
/*******************************************/





/******************************************
/* TYPOGRAPHY
/*******************************************/


main, section{
     font-size: 1.3rem;
}

h1, h2, h3{
     font-weight: bold;
} 


h1{
     font-size: 2.5rem; 
     margin-bottom: 0.3rem;
 
}

h2{
     font-size: 1.8rem; 
     margin-bottom: 0.7rem;
}

p{
     margin-bottom: 0.7rem;
     font-size: 1.5rem;
}


.relativeTop200Left10{
     position: relative;
     top: 2rem;
     left: 1rem; 
}

.relativeTop85Left10{
     position: relative;
     top: 8.5rem;
     left: 1rem; 
}









/******************************************
/* ADDITIONAL STYLES
/*******************************************/




     /* MEDIA QUERY MANAGER */

/*
0-600px;        PHONE
600 - 900px;    Tablet portrait
900 - 1200px;   Tablet landscape
[1200-1800] is where normal styles apply
1800px + :      Big Desktop
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: BASE + Typography > General Layout + Grid > Page Layout > Components
*/

/* 
For Media queries the rem isn't equal to the root setup(ie:
In our case 10px but instead browser default 16px
Ems are the best option for media queries
1em = 16 px; 
*/




      /* 600px */
      @media only screen and (min-width: 37.5em) {
          
     } 
         /* 900px */
     @media only screen and (min-width: 56.25em) {
          
          
     }  
 
         /* 1200px */
     @media only screen and (min-width: 75em) {
          
     }
 
   
        /* 1800 px */
     @media only screen and (min-width: 112.5em) {
          
  
     }






 
