* {
    box-sizing: border-box; 
}


header, footer{
    height: 100px;
    border: black 1px inset; 
    clear: left; 

}

section {
    height: 300px;
    float: left;
    width: 33.3333%;
    border: black 1px inset; 

}

 section{
    height: 300px;
    float: left;
    width: 33.3333%;
    border: black 1px inset; 

}

