/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Box Model Hack */
*,
*::after,
*::before {
  padding: 0;
  box-sizing: inherit;
}


/******************************************
/* UTILITIES
/*******************************************/

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root{
     --light-gray: #f2f5f8;
     --medium-gray: #dee3e9;
     --gray: #ced3d8;
     --dark-blue: #3e4f5d;
     --dark-grey: #aab3ba;
};


html {
     font-size: 62.5%;
}

body{
     box-sizing: border-box;
     line-height: 1;
     background-color: var(--light-gray);
}


/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* NAVIGATION & HAMBURGER ICON
/*******************************************/


.desktop{
     display: none; 
}


.mobile{
     height: 3rem;
     /* width: 100%; */
     margin: 0 auto;
     background-color: var(--light-gray);
     border-bottom: 1px solid var(--dark-grey);
}

.mobile i{
     position: absolute;
     left: 1rem;
     top: 0.5rem; 
}

.mobile p{
     text-align: center;
     padding-top: 0.5rem;
}


/******************************************
/* MAIN
/*******************************************/


main{
     background-color: var(--light-gray);
 
     width: 100%;
     padding: 0 1rem 0 1rem;
     margin: 3rem 0;

}

main section{
     display:block;
     margin: 0 auto;
    
}

main input {
     display: block;
     width: 100%;
     height: 2rem;
     background-color: var(--dark-grey);
     border: none; 
     text-decoration: none;
     margin: 1rem 0; 
     color: var(--dark-blue)
}

main a{
     display: block;
    width: 100%;
    height: 2rem;
    background: var(--dark-blue);
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;
}

main section img {
     margin-top: 1rem;
     max-width: 100%;
     /* max-width: 700px; */
     max-height: 25rem;
     display: block; 
     padding: 0;
     float: right; 
}







/******************************************
/* Features Section
/*******************************************/


section.features{
     margin-bottom: 3rem;
     padding: 0 1rem; 

}

.fectures h3, .features i, .features p, .features a{
     padding-bottom: 1rem;
}


.features h3{
     font-weight: bold;

}


.features a {
     text-decoration: none;
     color: var(--dark-blue);
     font-weight: bold;
}

.features section + section:not(:first-of-type){
     margin-top: 2rem;
}

.features a, .features p, .features h1{
     padding-top: 1rem; 
}




/******************************************
/* Information
/*******************************************/


section.information{
     margin-bottom: 3rem;
     padding: 0 1rem; 
     background-color: white;
     height: 15rem;
}

.information h1 {
     font-weight: bold;
     margin-bottom: 1rem;
     font-size: 2rem;
     padding-top: 3rem; 

}


.information h1, .information p, .information form {
     margin-bottom: 1rem;

}


.information form input {
     width: 100%;
     border: none; 
     height: 1.5rem;
     background-color: var(--dark-grey);
}



/******************************************
/* TYPOGRAPHY
/*******************************************/


.mobile p, .desktop p, .mobile i{
     font-size: 1.5rem;
}



.mobile p, .desktop p, .mobile i, .desktop i{
     font-weight: bold;
     color: var(--dark-blue)
}

main h2{
     font-size: 2rem;
     color:var(--dark-blue);
     /* text-align: left;  */
}

main a {
     text-decoration: none;
}




/******************************************
/* Media Query Manager
/*******************************************/

/*
0-600px;        PHONE
600 - 900px;    Tablet portrait
900 - 1200px;   Tablet landscape
[1200-1800] is where normal styles apply
1800px + :      Big Desktop
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: BASE + Typography > General Layout + Grid > Page Layout > Components
*/

/* 
For Media queries the rem isn't equal to the root setup(ie:
In our case 10px but instead browser default 16px
Ems are the best option for media queries
1em = 16 px; 
*/

      /* 600px */
      @media only screen and (min-width: 37.5em) {


          .mobile{
               height: 4rem;;
          }
          
          .mobile p {
               font-size: 2.2rem;
          }

          .mobile i{
               font-size: 2.2rem;
          }

          main h2 {
               font-size: 2.6rem;
          }

          main p{
               font-size: 1.5rem;
          }

          main a {
               font-size: 1.2rem;
          }

          main form input {
               font-size: 1.1rem;
          }


          .features i{
               font-size: 1.7rem;
          }

          .features h3{
               font-size: 1.7rem;
          }

          .features p{
               font-size: 1.5rem;
          }


          .information h1{
               font-size: 2.6rem;
          }

          .information p{
               font-size: 1.5rem;
          }


          section.information{
               padding: 0 3rem; 
          
          }

          section.features{
               padding: 0 3rem; 
          
          }

          main {
               padding: 0 3rem;
          }

   

     }

         /* 900px */
     @media only screen and (min-width: 56.25em) {


          .mobile{
               display: none;
          }

          nav.desktop{
              display: block;
              text-align: center;
          }

          nav.desktop * {
               display: inline-block;
          }

          nav.desktop p {
               position: absolute;
               top: 1rem;
               left: 3rem;
               font-size: 1.3rem;
          }


          nav.desktop a {
               position: absolute;
               top: 1rem;
               right: 3rem;
               font-size: 1.3rem;

          }

          nav.desktop ul {
               padding: 1.5rem 0;
          }

          nav.desktop ul li {
               padding: 0 1rem; 
          }


          nav.desktop a{
               display: block;
               width: 5rem;
               height: 2rem;
               background: var(--dark-blue);
               padding: 5px;
               text-align: center;
               color: white;
               text-decoration: none;
          }

     }




         /* 1200px */
     @media only screen and (min-width: 68.75em) {
         main section {
              width: 50%;
              float: left; 
         }  
         
 
         
         .features section{
              width: 25%;
              float: left; 
         }

         
         section.information{
          padding: 0 5rem; 
     
     }

     section.features{
          padding: 0 5rem; 
     
     }

     main {
          padding: 0 5rem;
     }

     main img{
          width: 100%;
     }


     /* .features section + section i:first-of-type{
          margin-top:-3rem;
     } */

     }
 
   
        /* 1800 px */
     @media only screen and (min-width: 112.5em) {
          
  
     }





     




 
